.pl-button-wraper{
    width: 3.5%;
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    top: 2%;
    left: 85%; 
    z-index: 1;
}

.pl-button.en{
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 3%;
    left: 85.9%;
    padding: 0;
    margin: 0;
    z-index: 2;

}
.en-button.pl{
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 3%;
    left: 85.74%;
    padding: 0;
    margin: 0;
    z-index: 2;
    
}



#l-s-logo-ratusz{
    position: absolute;
    width: 6%;
    left: 70%;
    top: 88.1%;
    -webkit-transform: translate(-50%, -50%); 
}
#l-s-logo-chestochowa{
    position: absolute;
    width: 6%;
    left: 80%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%); 
}
#l-s-logo-muzeum{
      position: absolute;
      height: 6%;
      left: 90%;
      top: 90%;
      -webkit-transform: translate(-50%, -50%);  
}
.l-s-PL{
    position: absolute;
    left: 25%;
    top: 27%;
    margin: 0;
    padding: 2%;
    width: 14%;
    height: auto;
    font-size: 10vw;
    font-weight: 900;
    color: antiquewhite;
    border: 5px solid rgba(250, 235, 215, 0.5);
    border-radius: 50%;
    text-align: center;
}
.l-s-EN{
    position: absolute;
    left: 56.5%;
    top: 27%;
    margin: 0;
    padding: 2%;
    width: 14%;
    height: auto;
    font-size: 10vw;
    font-weight: 900;
    color: antiquewhite;
    border: 5px solid rgba(250, 235, 215, 0.5);
    border-radius: 50%;
    text-align: center;
}

